*{
    margin : 0;
    padding : 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;

}
.container
{
    width:  100vw;
    height: 100vh;
    background-image: url(images/background\ \(1\).png);
    background-size: cover;
    padding: 0 8%;
    position: relative; 

    
}
.logo{
    
    width:  350px;
    padding: 20px 0 ;
    cursor: pointer;
}
.logo h1{
    top: 100%;

}
.content
{
    top: 55% ;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}
.content h1
{
   font-size: 64px;
   font-weight: 600;
}
.content h1 span
{
  color: white;
}


.launch-time
{
    display: flex;
}
.launch-time div
{
 flex-basis: 100px;
}
.launch-time div p 
{
  font-size: 60px;
  margin-bottom: -14px;

}
.rocket{
    width: 250px;
    position: absolute;
    right: -40%;
    bottom: 0;
    top: 100%;
    border-bottom :0;
    animation:  rocket 4s linear infinite;
    
}

@keyframes rocket
{
    0%
    {
       
        bottom: 0;
        opacity: 0;

    }
    100%{
        top: -350%;
        bottom: 105%;
        opacity: 2;
    }
}
/*@media screen and (max-width : 700px) {
    .container
    {
        padding: 0 2%;
        width: 96%;
    }
}*/ 
@media  (max-width : 800px)
{
    .content height
    {
        font-size: 20px;
    }

}
@media screen and (max-width : 700px)
{
   .rocket
    {
 display: none;
    }
}
@media screen and (max-width : 1000px)
{
   .rocket
    {
 display: none;
    }
}
